<div class="section">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>

    <!-- Loop through the educationList array using *ngFor -->
    <div class="card" *ngFor="let education of education">
      <div class="row">
        <div class="col-md-3 bg-green" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>{{ education.period }}</p>
            <div class="h5">{{ education.degree }}</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">{{ education.field }}</div>
            <p class="category">{{ education.institution }}</p>
            <p>{{ education.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
