.section {
  padding: 50px 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.bg-green {
  background-color: #378c3f;
}

.card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 20px;
}

.cc-education .cc-education-header {
  padding-top: 60px;
  padding-right: 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: #378c3f;
}
