<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    
    <!-- Loop through the experiences array using *ngFor -->
    <div class="card" *ngFor="let experience of experiences">
      <div class="row">
        <div class="col-md-3 bg-green" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>{{ experience.date }}</p>
            <div class="h5">{{ experience.company }}</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">{{ experience.role }}</div>
            <p>{{ experience.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
