<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Professional Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <!-- Loop through the skills array using *ngFor -->
          <div class="col-md-6" *ngFor="let skill of skills">
            <div class="progress-container progress-primary">
              <span class="progress-badge">{{ skill.name }}</span>
              <span class="progress-value">{{ skill.percentage }}%</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary"
                     data-aos="progress-full"
                     data-aos-offset="10"
                     data-aos-duration="2000"
                     role="progressbar"
                     [style.width]="skill.percentage + '%'">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
