<div class="section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="h4 text-center mb-4 title">Portfolio</div>
        <div class="nav-align-center">
          <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                data-toggle="tab"
                href="#web-development"
                role="tablist"
                ><i class="fa fa-laptop" aria-hidden="true"></i
              ></a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="tab"
                href="#graphic-design"
                role="tablist"
                ><i class="fa fa-picture-o" aria-hidden="true"></i
              ></a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="tab"
                href="#Photography"
                role="tablist"
                ><i class="fa fa-camera" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="tab-content gallery mt-5">
      <div class="tab-pane active" id="web-development">
        <div class="ml-auto mr-auto">
          <div class="row">
    
             <!-- Loop through the projects array using *ngFor -->
            <div class="col-md-6" *ngFor="let project of projects">
              <div
                class="porfolio-image img-raised"
                data-aos="fade-up"
                data-aos-anchor-placement="top-bottom"
              >
                <a href="#web-development">
                  <figure class="effect">
                    <!-- Use dynamic binding for image source and project name -->
                    <img [src]="'../../assets/images/' + project.image" [alt]="project.name" />
                    <figcaption>
                      <div class="h4">{{ project.name }}</div>
                      <p>{{ project.category }}</p>
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
