
<app-header [basicInfo]="resumeData.basicInfo"></app-header>
<app-about [basicInfo]="resumeData.basicInfo"></app-about>
<app-skills [skills]="resumeData.skills"></app-skills>
<app-portfolio [projects]="resumeData.projects"></app-portfolio>
<app-experience [experiences]="resumeData.experiences"></app-experience>
<app-education [education]="resumeData.education"></app-education>
<app-reference [references]="resumeData.references"></app-reference>
<app-contact [basicInfo]="resumeData.basicInfo"></app-contact>
<app-footer></app-footer>
